<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="SemMapMigrations" 
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
                  Initial Catalog=SemMigrationsBanco;
                  Integrated Security=True;Connect Timeout=15;
                  AttachDbFileName=C:\TEMP\SemMigrationsBanco.mdf" 
         providerName="System.Data.SqlClient"/>
    <!--<add name="BancoSemConfiguracaosss" providerName="System.Data.SqlClient" connectionString="data source=TI-025-PC; Initial Catalog=EFExemplos; user id=sa; password=SYSTEM_AGILI;"/>-->
  <!--<add name="SemMapMigrations" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=EFExemplosSemMapMigrations; user id=sa; password=SYSTEM_AGILI;" />-->
  <add name="ComMigrations" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=EFExemplosMigrations; user id=sa; password=SYSTEM_AGILI;" />
  <add name="Banco" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=EFExemplos; user id=sa; password=SYSTEM_AGILI;" />
   <add name="TPC" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=EFExemplosTPC; user id=sa; password=SYSTEM_AGILI;" />
  </connectionStrings>  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
  <add key="xunit.methodDisplay" value="method"/> 
  </appSettings>
</configuration>
